.content-container {
	background-color: #7246a7;
	padding-top: 100px;
	display: flex;
	flex-direction: column;
	align-items: center; /* Align items at the start of the container */
}

.content-container img {
	margin-right: 20px; /* Add some space between the gif and the Community component */
}

.text-container {
	background-color: rgb(23, 78, 209);
}