/* MigrationPage.css */
.migrationPage {
	display: flex;
	height: 88vh;
}

.sidePanel {
	width: 15%;
	padding: 10px;
	background-color: #f1f1f1;
	border-right: 1px solid #ccc;
	overflow-y: auto;
}

.content {
	display: flex;
	flex-direction: column;
	width: 75%;
	padding: 10px;
}

.codeEditorContainer {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 100%;
}

.codeEditor {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.migrationTableContainer {
	flex: 1;
	margin-bottom: 20px;
}

.table {
	width: 100%;
	border-collapse: collapse;
}

.th {
	border: 1px solid #ccc;
	padding: 8px;
	text-align: left;
	background-color: #f2f2f2;
}

.td {
	border: 1px solid #ccc;
	padding: 8px;
}

.title {
	text-align: left;
	margin-bottom: 10px;
	font-size: 1.2em;
}
