.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
}

.docTxt {
  width: 80%;
}

.text-container {
  overflow: hidden;
  width: 100%;
  border: 2px solid #000;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  height: 100px; /* Adjust height as needed */
}

.scrolling-text {
  display: block;
  animation: scrollBottomUp 5s linear forwards;
  font-size: 1.2em;
  color: #000;
  position: relative;
}

@keyframes scrollBottomUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-15%);
  }
}
