body {
  background-color: #7851a9;
}

.sectionTitle {
  font-family:'Courier New', Courier, monospace;
}

.text-container {
	background-color: hsl(98, 82%, 41%);
	font-family:'Courier New', Courier, monospace;
}

