.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 300px;
}

.input {
  margin-bottom: 10px;
  padding: 10px;
}

.input[type="password"] {
  margin-bottom: 20px;
}

.githubLoginBtn {
  display: flex;
}

.button {
  padding: 10px 20px;
}

.signUpImg {
  display: flex;
}

.github-login {
  margin-top: 10px;
}

.signup-link {
  text-decoration: none;
  color: inherit;
}
