.navbar {
	display: flex;
	align-items: center;
	list-style: none;
}

.navbar-logo-button {
	border: none;
	background: none;
	padding: 0;
	cursor: pointer;
}

.navbar-logo {
	height: 50px;
}

.navbar-item {
	margin-left: 20px;
}

.navbar-item-auto {
	margin-left: auto;
}

.logOut {
	/* Add your log out button styles here */
}
