/* 'Roboto', sans-serif */

a {
	text-decoration: none;
	color: rgb(29, 19, 35);
}

nav {
	font-family: 'Impact', fantasy;
	/* font-weight: bolder; */
	font-size: smaller;
	border-bottom: solid rgb(207, 202, 202);
	ul {
		margin: 0;
	}

	button {
		padding: 10px 20px;
		font-size: 12px;
		/* font-weight: bold; */
		color: #fff;
		background-color: #d184eb;
		border: 2px solid #d184eb;
		border-radius: 5px;
		cursor: pointer;
	}
	button:hover {
		background-color: #e8adfc;
		border-color: #e8adfc;
	}
}

body::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: url('../../dist/assets/images/logo.png') no-repeat center center;
	background-size: contain;
	opacity: 0.2;
	width: 50%;
	height: 50%;
	z-index: -1;
}
